@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Sora:wght@100..800&display=swap');

body {
  @apply bg-gray-900;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}